RewriteEngine On
AddDefaultCharset UTF-8

# directories we want to leave alone
RewriteRule ^(images)(/.*)?$ - [L]

RewriteRule ^(.*)/m/random cards.php?slug=$1&m=true&random=true [L]
RewriteRule ^(.*)/m cards.php?slug=$1&m=true [L]
RewriteRule ^(.*)/random cards.php?slug=$1&random=true [L]
RewriteRule ^(.*)/ cards.php?slug=$1 [L]
