RewriteEngine On
AddDefaultCharset UTF-8

# directories we want to leave alone
RewriteRule ^(images)(/.*)?$ - [L]

RewriteRule ^(.*)/m/shuffle cards.php?slug=$1&m=true&shuffle=true [L]
RewriteRule ^(.*)/m cards.php?slug=$1&m=true [L]
RewriteRule ^(.*)/shuffle cards.php?slug=$1&shuffle=true [L]
RewriteRule ^(.*)/ cards.php?slug=$1 [L]
